.btn {
    border: none;
    padding: 20px;
    font-size: 18px;
}

.btn-primary {
    background-color: coral;
}

.btn-primary:hover {
    background-color: darksalmon;
}

.btn-secondary {
    background-color: cornflowerblue;
}

.btn-secondary:hover {
    background-color: darkcyan;
}

.btn-info {
    background-color: crimson;
    color: white;
}

.btn-info:hover {
    background-color: deeppink;
    color: white;
}